@font-face {
    font-family: Proxima Nova;
    src: url(fonts/proximanovacond_regular.ttf);
    font-style: normal;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
}

header {
    padding: 30px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-links {
    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        font-size: 18px;
        line-height: 20px;
        color: #444444;
        margin-right: 20px;
        cursor: pointer;
    }

    a:last-child {
        margin-right: 0;
    }

    a:hover {
        color: #B01736;
        opacity: 0.75;
    }

}

.first-screen {
    position: relative;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .first-screen__title {
        position: absolute;
        top: 0;

        p {
            font-size: 56px;
            line-height: 100%;
            color: #444444;
            margin-left: 70px;
            margin-top: 156px;
            margin-bottom: 60px;
        }

        button {
            background: #B01736;
            border-radius: 8px;
            padding: 18px 28px 18px 28px;
            margin-left: 70px;
            border: none;
            cursor: pointer;

            a {
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        button:hover {
            opacity: 0.75;
        }

    }


}

.about-company__info-screen {
    background: #FFFFFF;

    .info-screen__text-content {
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
        margin: 100px 70px 100px 70px;
        padding: 99px 110px 99px 110px;

        p {
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #444444;

            span {
                font-size: 32px;
                line-height: 120%;
                text-align: center;
                color: #B01736;
            }
        }
    }

}

.about-company__counter-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 100px 100px 180px;

    .counter-screen__item {
        margin-right: 185px;
        margin-top: 80px;

        h1 {
            font-size: 80px;
            line-height: 80%;
            color: #A30C33;
            opacity: 0.95;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #444444;
        }
    }
}

.map-screen__top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 70px 28px 70px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);

    div {
        display: flex;
        margin-right: 197px;

        p {
            font-size: 24px;
            line-height: 100%;
            color: #444444;
            margin-right: 12px;
        }
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-right: 30px;
        font-size: 18px;
        line-height: 20px;
        color: #444444;
        cursor: pointer;
    }

    li:last-child {
        margin-right: 0;
    }

    li:hover {
        color: #A30C33;
        border-bottom: 3px solid #A30C33;
    }
}

.top-menu__list-container {
    padding: 30px 69px 30px 69px;

    .list-container__cities {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .cities__item h1 {
            font-size: 18px;
            line-height: 20px;
            color: #202020;
            margin-bottom: 20px;
            font-weight: 600;
        }

        .cities__item p {
            font-size: 18px;
            line-height: 20px;
            color: #444444;
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
}

.map-screen__map-container {
    padding: 107px 30px 105px 30px;

    img {
        width: 100%;
    }
}

.mission-block {
    padding: 140px 70px 140px 70px;
    background: #A30C33;
    position: relative;

    div {
        position: relative;
        z-index: 2;

        h1 {
            font-size: 56px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 40px;
        }

        p {
            font-weight: 400;
            font-size: 32px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .mission-block__left-pattern {
        position: absolute;
        left: 0;
        top: 10%;
        z-index: 1;
    }

    .mission-block__rigth-pattern {
        position: absolute;
        right: 0;
        top: 10%;
        z-index: 1;
    }
}

.about-company__business_cards {
    padding: 100px 0px 100px 0px;
    background: #FFFFFF;

    h1 {
        font-size: 56px;
        line-height: 100%;
        text-align: center;
        color: #444444;
        margin-bottom: 55px;
    }

    .business_cards__wrapper {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;


        div {
            position: relative;

            .wrapper__image img {
                width: 100%;
            }

            .wrapper__gradient {
                position: absolute;
                bottom: 4px;
                padding-bottom: 28px;
                padding-top: 28px;
                padding-left: 20px;
                background-color: #2D3653;
                width: 100%;
                opacity: 0.75;
                color: #FFFFFF;

                p {
                    background: #2D3653;
                    opacity: 1;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 110%;
                }


            }
        }
    }
}

.about-company__social-info {
    padding-left: 70px;
    padding-right: 70px;

    .social-info__wrapper {
        padding-top: 80px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    }

    h1 {
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 56px;
        line-height: 100%;
        text-align: center;
        color: #444444;
    }

    .social-info__items-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;

        .items-list__element {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                margin-top: 10px;
            }
        }
    }

    .social-info__decoration-line {
        border: 1px solid #000000;
        opacity: 0.1;
        margin-top: 70px;
    }
}

.about-company__sales {
    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #444444;
        margin-top: 70px;
        margin-bottom: 4px;

        span {
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            color: #B01736;
        }
    }

    .company__sales__items-list {
        display: flex;
        justify-content: center;
        align-items: center;

        .items-list__element {
            text-align: center;
            margin: 50px;

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 110%;
                color: #444444;
            }
        }
    }
}

footer {
    padding: 70px 70px 56px 70px;

    .footer__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;

        h1 {
            font-weight: 600;
            font-size: 56px;
            line-height: 100%;
            color: #444444;

        }
    }

    .footer__image {
        img {
            width: 100%;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    li {
        background: lightgrey;
        height: 10px;
        list-style: none;
        width: 20%;
        margin-top: 40px;
        margin-right: 10px;
        cursor: pointer;
    }

    li:first-child {
        background-color: #A30C33;
    }

    li:last-child {
        margin-right: 0;
    }

    li:hover {
        opacity: 0.75;
    }
}

@media all and (max-width: 512px) {

    .about-company__business_cards {
        padding: 22px 5px 22px 5px;

        h1 {
            font-size: 28px;
            margin-bottom: 15px;
        }

        .business_cards__wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            justify-content: center;


            div {
                position: relative;
                margin-top: 10px;

                .wrapper__image img {
                    height: 25%;
                }

                .wrapper__gradient {
                    height: 93%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 20px;
                    }

                }
            }
        }
    }

    header {
        padding-top: 16px;
        padding-left: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .header__logo img {
            width: 100%;
        }
    }

    .header__list-links {
        li {
            list-style: none;
        }

        a {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .first-screen {
        position: relative;
        top: 0;
        left: 0;

        .first-screen img {
            width: 290px;
            height: 300px;
        }

        .first-screen__title p {
            font-size: 28px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .first-screen__title button {
            width: 110px;
            height: 32px;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 16px;
            }
        }
    }

    .about-company__info-screen {
        .info-screen__text-content {
            padding: 24px 5px 24px 5px;
            margin: 60px 5px 60px 5px;

            p {
                font-size: 16px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .about-company__counter-screen {
        padding: 0px 30px 50px 30px;

        .counter-screen__item {
            margin-right: 60px;
            margin-top: 24px;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .map-screen__top-menu {
        display: inherit;
        padding-top: 18px;
        padding-left: 18px;
        padding-bottom: 18px;

        div {
            display: flex;
            margin: 0;
            align-items: center;

            img {
                width: 20px;
                height: 8.02px;
            }

            p {
                font-size: 18px;
                line-height: 100%;
                color: #444444;
                margin-right: 12px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-top: 20px;
        }

        li {
            list-style: none;
            margin-right: 30px;
            font-size: 18px;
            line-height: 20px;
            color: #444444;
            cursor: pointer;
        }

        li:last-child {
            margin-right: 0;
        }

        li:hover {
            color: #B01736;
            opacity: 0.75;
        }
    }

    .map-screen__map-container {
        padding: 0px;
    }

    .list-container__cities {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .mission-block {
        padding: 30px 5px 30px 5px;

        div {
            position: relative;
            z-index: 2;

            h1 {
                font-size: 28px;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
            }
        }

        .mission-block__left-pattern {
            height: 80%;
        }

        .mission-block__rigth-pattern {
            height: 80%;
        }
    }



    .about-company__social-info {
        padding-left: 5px;
        padding-right: 5px;

        .social-info__wrapper {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 5px;
            padding-right: 5px;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
        }

        h1 {
            margin-bottom: 40px;
            font-size: 28px;

        }

        .social-info__items-list {
            padding-left: 0px;
            padding-right: 0px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            .items-list__element {
                margin: 10px 25px 0px 25px;

                p {
                    font-size: 16px;
                }
            }

            .social-info__decoration-line {
                margin-top: 24px;
            }
        }
    }

    .about-company__sales {
        h1 {
            font-size: 22px;
            margin-top: 24px;
            margin-bottom: 25px;

            span {
                font-size: 22px;
            }
        }

        .company__sales__items-list {
            display: flex;
            flex-wrap: wrap;

            .items-list__element {
                text-align: center;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 10px;
                margin-bottom: 10px;

                p {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        padding: 50px 20px 50px 20px;

        .footer__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: none;
            }

            h1 {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }

        .footer__image {
            img {
                width: 100%;
            }
        }

        ul {
            display: none;
        }
    }


}